Repository antvis/F2, pull requests merged in 2020-06, with the labels that each got.

#909 test: 补充 mapping 缓存单测
  test/unit/geom/geom-spec.js
Labels: PR: reviewed-changes-requested, test

#912 test: 补充新 pan 方法的单测
  test/unit/interaction/new/index-spec.js
Labels: PR: reviewed-changes-requested, test

#911 test: 补充event controller的单测
  test/unit/graphic/event/controller-spec.js
Labels: PR: reviewed-changes-requested, test

#915 fix: geom repaint
  src/chart/chart.js
  src/geom/base.js
  test/unit/geom/geom-init-spec.js
  test/unit/geom/geom-spec.js
Labels: PR: reviewed-changes-requested, bug

#916 chore: release 3.6.4-beta.8
  package.json
  src/global.js
Labels: PR: reviewed-changes-requested, chore

#917 feat: 为 tooltip 的 xtip/ytip 增加 text 样式配置
  src/component/tooltip.js
  test/unit/graphic/group-spec.js
  test/unit/graphic/shape/text-spec.js
  test/unit/plugin/tooltip-spec.js
Labels: PR: reviewed-changes-requested, enhancement
